<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>File Upload</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <style>
      html { width: 100%; } body { background: #f5f5f5; }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout" ref="root">
      <div class="mdl-layout__inner-container">
        <header class="mdl-layout__header" ref="root">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">File Uploader</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation" ref="root">
              <a class="mdl-navigation__link" href="https://github.com/koistya/file-uploader">GitHub</a>
            </nav>
          </div>
        </header>
        <main id="container"></main>
      </div>
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="@ViewData["bundle"]"></script>
  </body>
</html>
